name: Deploy <SERVICE_NAME> Lambda

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install Dependencies
        run: npm install

      - name: Zip Lambda Code
        run: zip -r <SERVICE_NAME>.zip .

      - name: Update Lambda Function
        uses: appleboy/lambda-action@v0.1.2
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: eu-north-1
          function_name: <SERVICE_NAME>
          zip_file: <SERVICE_NAME>.zip
